:root {
  --firtColor: #3871BA;
  --firtColorHover: #2266be;
  --errorColor: rgb(156, 2, 2);
  --text: #333333;
  --text-h: #08060d;
  --bg: #e8e8e8;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  /*letter-spacing: 0.18px;*/

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
