.button {
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  background-color: var(--firtColor);
  width: 100%;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
}

.button:disabled {
  background-color: #8F8F8F;
}

.button:hover {
  background-color: var(--firtColorHover);
}