.btnCancel {
  background-color: transparent !important;
  border: 2px solid var(--firtColor);
  height: 40px;
  margin: 0;
  padding: 0;
  padding: 0 40px;
  border-radius: 4px;
  color: var(--firtColor);
  cursor: pointer;
}

.contButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;

}

.conTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conTitle>p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #1D2939;
  font-weight: 700;
  margin-bottom: 8px;
}

.conCardUser {
  display: flex;
  flex-direction: column;
  background-color: #eef5ff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0.5 2 rgba(16, 24, 40, 0.3);
  margin-bottom: 20px;
}

.contButtons>div {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 18px;
  align-items: center;
}


.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
}

.closeContainer {
  display: flex;
  justify-content: flex-end;
  color: var(--firtColor);
}

.closeContainer>svg {
  cursor: pointer;
}

.container h3 {
  margin-bottom: 20px;
}

.container>div {
  background-color: #fff;
  border-radius: 14px;
  padding: 25px;
  width: 40%;
  min-width: 340px;
}



.contRol {}

.contSelects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.icon {
  color: var(--firtColor);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.tableUser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.tableUser>div {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.headerTable {
  border-bottom: 2px solid #616161;
}

.rolText {
  font-size: 14px;
  color: #616161;
}