.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px ;
  width: 100%;
  background-color: var(--firtColor);
  box-sizing: border-box;
  color: #fff;
}


.container h1 {
  font-size: 20px;
}