.buttonContainerPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 60%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}


.cancelButton {
    border: 2px solid var(--firtColor);
    background-color: transparent;
    color: var(--firtColor);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
}

.closeButton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    width: 100%;
    color: var(--firtColor);

}

.closeIcon {
    width: 20px;
    height: 20px;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80%;
    overflow-y: auto;
    min-width: 380px;
    width: 35%;
}

.modal h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1D2939;
}